<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Short links{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}"/>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="header clearfix">
            <h1 class="text-muted">Short links</h1>
        </div>

        <div class="jumbotron">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>
